.vscode/
Makefile
_site/Ekk.set
_site/HiGHS.set
_site/Highs.log
_site/Highs.set
_site/HighsRunModel.mps
_site/LpMatrix.pbm
_site/MIP.set
_site/Makefile
_site/Options.set
_site/TestEkk.set
_site/app/
_site/bin/
_site/build/
_site/build32/
_site/build64/
_site/check/
_site/docs/html/
_site/docs/latex/
_site/htdocs/
_site/ml.lp
_site/ml.mps
_site/modules/
_site/releaseDocs/
_site/src/
_site/test64/
_site
app/
bin/
build/
build32/
build64/
check/
docs/latex/
docs/html/
htdocs/
ml.lp
ml.mps
ml.mps~
modules/
releaseDocs/
src/
test64/

*.set
*~
Highs.log
